body{
	margin: 0px;
	padding: 0px;
	max-width: 1000px;
}
.about-us{
	height: 16px;
	width: 66px;
	color:#283238;
	font-family: Roboto;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;
	list-style: none;
	text-transform: uppercase;
}
.rectangle-2{
	height: 36px;
	width: 82px;
	border: 2px solid} 