body{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	margin: 0 auto;
	width: 480px;

}
#header{
	background-image: url(../images/banner.jpg);
	width: 480px;
	height: 265.75px;
	background-position: center;
	position: relative;
}
.about-us{
	position: absolute;
    right: 128px;
    bottom: 224.75px;
    left: 286px;
    top: 10px;
}
.about-us a{
	height: 16px;
	width: 66px;
	color:#283238;
	font-family: Roboto;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;
}
.sign-in{
	height: 36px;
	width: 82px;
	border: 2px solid #8BC34A;
	border-radius: 100px;
	position: absolute;
	top: 10px;
	left: 375px;
	right:23px;
	bottom: 214.75px;
	position: relative;
}
 .sign-in span{
 	height: 16px;
 	width: 50px;
 	color:#8BC34A;
 	font-family: Roboto;
 	font-size: 12px;
 	letter-spacing: 1px;
 	line-height: 16px;
 	padding: 10px ;
	

}
.hapoERP img{
position: absolute;
top: 59px;
right: 191px;
left: 193px;
}
.gift img{
	position: absolute;
	top: 108px;
	right: 344px;
	left: 116px;
	height: 18px;
	width: 20px;
	color: #283238;
	font-family: themify;
	font-size: 18px;
	letter-spacing: 1.5px;
	line-height: 18px;
}
.gift p{
	height: 24px;
	width: 48px;
	color: #283238;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -0.03px;
	line-height: 24px;
	top: 134px;
	left: 102px;
	right: 330px;
	bottom: 107.75px;
	position: absolute;
}
.clock img{
	height: 18px;
	width: 20px;
	color: #283238;
	font-family: themify;
	font-size: 18px;
	letter-spacing: 1.5px;
	line-height: 18px;
	position: absolute;
	top: 108px;
	left: 231px;

}

.clock p{
	height: 24px;
	width: 51px;
	color: #283238;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -0.03px;
	line-height: 24px;
	position: absolute;
	top: 134px;
	left: 216px;
}
.like img{
	position: absolute;
	top: 108px;
	left:356px;
	height: 18px;
	width: 20px;
	color: #283238;
	font-family: themify;
	font-size: 18px;
	letter-spacing: 1.5px;
	line-height: 18px;
}
.like p{
	position: absolute;
	top:134px;
	left:330px;
	height: 24px;
	width: 71px;
	color: #283238;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -0.03px;
	line-height: 24px;
}
.lorem p{
	height: 11px;
	width: 290px;
	color: #283238;
	font-family: Roboto;
	font-size: 9px;
	font-style: italic;
	letter-spacing: -0.02px;
	line-height: 11px;
	position: absolute;
	top: 173px;
	left: 98px;
}
.start-now{
	height: 40px;
	width: 144px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	left: 170px;
	right: 166px;
	top: 199px;
	position: absolute;
	bottom: 26.75px;
}

.start-now a{
	height: 19px;
	width: 89px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 1.17px;
	line-height: 19px;
	position: absolute;
	top: 11px;
	bottom: 10px;
	left: 28px;

}
/*=== Today =====*/
#today{
	height: 687px;
	width: 480px;
	position: relative;
	background-color: #FFFFFF;
}
#today .images-hapoerp img{
	position: absolute;
	top: 107.38px;
	right: 10.76px;
	left: 10.17px;
	bottom: 561.68px;
}
#today .TodayI-learnt img{
	position: absolute;
	top: 37px;
	right: 314px;
	bottom: 630px;
	left:146px;
	height: 20px;
	width: 20px;
	color: #444444;
	font-family: themify;
	font-size: 20px;
	letter-spacing: -0.04px;
	line-height: 20px;
}
.TodayI-learnt h4{
	position: absolute;
	height: 32px;
	width: 154px;
	color: #444444;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: -0.05px;
	line-height: 32px;
	top: 30px;
	left: 180px;
	right: 146px;
}
.TodayI-learnt .Lorem{
	position: absolute;
	top: 67px;
	left: 10px;
	right:10px;
	height: 24px;
	width: 460px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 24px;
	text-align: center;
}
.TodayI-learnt .Lorem-Ipsum{
	position: absolute;
	height: 168px;
	width: 460px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 21px;
	text-align: justify;
	top: 429px;
	bottom: 90px;
	left: 10px;

}
.startToday-now {
	position:absolute;
	top: 617px;
	right: 168px;
	left: 168px;
	bottom: 30px;
	height: 40px;
	width: 144px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	position: relative;
	
}
.startToday-now a{
	position: absolute;
	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
	top: 11px;
	bottom: 10px;
	left:28px;
}
/* daily  */
#daily{
	width: 462px;
	height: 611px;
	position: relative;
	background-color: #FFFFFF;
}
#daily .daily-report img{
	position: absolute;
	top:36px;
	left: 153px;
	right: 298px;
	bottom: 585px;
	height: 20px;
	width: 20px;
	color: #444444;
	font-family: themify;
	font-size: 20px;
	letter-spacing: -0.04px;
	line-height: 20px;
}	

#daily .daily-report h4{
	position: absolute;
	height: 32px;
	width: 126px;
	color: #444444;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: -0.05px;
	line-height: 32px;
	left: 192px;
	right: 162px;
	top: 30px;
}
.daily-report .lorem-is{
	height: 24px;
	width: 460px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 24px;
	text-align: center;
	position: absolute;
	top: 67px;
	left: 11px;
	right: 9px;
}
.daily-report .lorem-simply{
	height: 168px;
	width: 460px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 21px;
	text-align: justify;
	top: 106px;
	left: 9px;
	right: 11px;
	position: absolute;
}
.images-daily img{
	position: absolute;
	top: 289px;
	left:9px;
	right:370.83px;
}
.startDaily-now{
	position: absolute;
	height: 40px;
	width: 144px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	top: 601px;
	right: 169px;
	left:167px;
	position: relative;
}
.startDaily-now a{
	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
	position: absolute;
	right: 27px;
	top:10px;
	bottom: 11px;
	left:28px;
}

/*		 oval      */
/*#oval {
	position: relative;
	height: 322px;
	width: 1920px;
    background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}

#oval .container-circle {
	position: absolute;
	height: 183.25px;
	width: 109.5px;
	top:68.75px;
	bottom: 70px;
}

#oval .container-circle .icon-oval{
	position: absolute;
	left:35px;
	top: 30px;
	height: 36px;
	width: 36px;
	color: #FFFFFF;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
}

#oval .container-circle .oval-one {
	position: absolute;
	top: 0;
	left:0;
	box-sizing: border-box;
	height: 109.5px;
	width: 109.5px;
	border: 2.5px solid #FFFFFF;
	border-radius: 50%;
}
#oval .container-circle .oval-two .content-oval {
	position: absolute;
	top: 7px;
	left: 28%; 
	height: 32px;
	width: 14px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 24px;
	letter-spacing: -0.05px;
	line-height: 32px;
}
#oval .container-circle .oval-two{
	position: absolute;
	top: 85px;
	left: 28%; 
	box-sizing: border-box;
	height: 45.5px;
	width: 45.5px;
	border: 2.5px solid #FFFFFF;
	background-color: #7CB342;
	border-radius: 50%;
}


#oval .container-circle .text-oval {
	position: absolute;
	bottom: 0;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
	text-align: center;
	height: 42px;
}

#oval .container-circle .daily-report {
	position: absolute;
	bottom: 0;

}

#oval .container-circle-position-one {
	position: absolute;
	top:68.75px;
	left:391.75px;
	bottom: 143.75px;
	right: 1418.75px

}

#oval .container-circle-position-two{
	position: absolute;
	left:648.75px;
	top: 68.75px;
	bottom: 143.75px;
}

#oval .container-circle-position-three {
	position: absolute;
	left: 906.75px;
	top: 68.75px;
	bottom: 143.75px;
}

#oval .container-circle-position-four {
	position: absolute;
	left: 1164.75px;
	top: 68.75px;
	bottom: 143.75px;
}

#oval .container-circle-position-five {
	position: absolute;
	left:1421.75px;
	top: 68.75px;
	bottom: 143.75px;

}*/

#member{
	width: 1920px;
	height: 578px;
	position: relative; 
	

}
.members .img-people{
	position: absolute;
	right: 1495px;
	left: 389px;
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
	top: 110px;

}
.members h4{
	height: 63px;
	width: 213px;
	color: #39474E;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
	right: 1264px;
	left: 443px;
	position: absolute;
	top: 100px
}
.members p{
	height: 19px;	
	width: 442px;	
	color: #283238;	
	font-family: Roboto;	
	font-size: 14px;	
	font-style: italic;	
	letter-spacing: -0.03px;	
	line-height: 19px;
	position: absolute;
	right: 1087px;
	left:391px;
	top:178px;

}
ol li a{
	height: 50px;
	width: 519px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	}
.lorem-simply-one{
	position: absolute;
	left:425px;
	right: 976px;
	top: 223px;

}
.lorem-simply-two{
	position: absolute;
	left: 425px;
	right: 976px;
	top:290px;
}
.lorem-simply-three{
	position: absolute;
	left: 425px;
	right: 976px;
	top: 357px; 
}
ol li img{
	height: 24px;
	width: 18px;
	color: #8BC34A;
	font-family: themify;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
}
ol li .tick-one{
	position: absolute;
	right:  1513px;
	left:389px;
	top: 223px;

}
ol li .tick-two{
	position: absolute;
	right: 1513px;
	left:389px;
	top: 289px;

}
.tick-three{
	position: absolute;
	right: 1513px;
	left:389px;
	top:356px;
}
#member .member-images img{
	position:  absolute;
	right: 400.71px;
	left:1048.84px;
	top: 100.39px;
}
#member .startmember-now{
	position: absolute;
	height: 50px;
	width: 195px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	position: relative;
	right: 1334px;
	left: 391px;
	top: 437px;		
}
.startmember-now a{
	position: absolute;
	top:15px;
	bottom: 14px;
	right: 47px;
	left: 47px;
	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
}
/*member*/
#customer{
	width: 1920px;
	height: 578px;
	position: relative;
}
#customer .customer-images img{
	top:124px;
	right: 1410.01px;
	left: 391.22px;
	position: absolute;
}
 #customer .images-face {
 	position: absolute;
 	right: 922px;
 	left: 962px;
 	bottom: 427px;
 	top: 115px;
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
}
.customers h4{
	height: 63px;
	width: 243px;
	color: #444444;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
	right: 660px;
	left: 1017px;
	top:100px;
	bottom: 415px;
	position: absolute;
}
#customer .customers p{
	height: 19px;
	width: 442px;
	color: #283238;
	font-family: Roboto; 
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 19px;
	right: 501px;
	left: 968px;	
	top: 178px;
	bottom: 381px;
	position: absolute;
}
#customer .icon-one{
	height: 24px;
	width: 18px;
	color: #8BC34A;
	font-family: themify;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
	right: 928px;
	left: 974px;
	bottom: 332px;
	top: 222px;
	position: absolute;
}
#customer .icon-two{
	height: 24px;
	width: 18px;
	color: #8BC34A;
	font-family: themify;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
	position: absolute;
	right: 928px;
	left:974px;
	bottom: 268px;
	top: 286px;
}
#customer .icon-three{
	height: 24px;
	width: 18px;
	color: #8BC34A;
	font-family: themify;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
	position: absolute;
	right: 928px;
	left: 974px;
	top: 350px;
}
#customer .lorem-is-one{
	height: 48px;
	width: 524px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	position: absolute;
	top: 222px;
	left: 1006px;
	right: 405px;
	bottom: 347px;
}
#customer .lorem-is-two{
	height: 48px;
	width: 524px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	position: absolute;
	right: 405px;
	left:1006px;
	top:286px;
	bottom: 244px;	
}
#customer .lorem-is-three{
	height: 48px;
	width: 524px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	position: absolute;
	top: 350px;
	right: 405px;
	left: 1006px;
}
#customer .startcustomer-now{
	position: absolute;
	height: 50px;
	width: 195px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	top: 428px;
	bottom: 100px;
	right: 765px;
	left: 960px;
	position: relative;
}
.startcustomer-now a{
	height: 21px;
	width: 101px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1.33px;
	line-height: 21px;
	right: 47px;
	top: 15px;
	bottom: 14px;
	left: 47px;
	position: absolute;
}


/*customer*/
#our-customer{
	background-image: url(../images/ourcustomer.jpg);
	width: 1920px;
	height: 544px;
	margin-top:100px;
}
/*end---our-customer*/
/*project*/
#project{
	width: 1920px;
	height: 578px;
	position: relative;
}
#project .project-report img{
	position: absolute;
	right: 1494px;
	left: 390px;
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	letter-spacing: -0.07px;
	line-height: 36px;
	top: 114px;
}
#project .project-report h4{
	position: absolute;
	right: 1224px;
	left:444px;
	height: 63px;
	width: 252px;
	color: #444444;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.09px;
	line-height: 63px;
	top:100px;
}
#project .lorem-text{
	height: 19px;
	width: 450px;
	color: #283238;
	font-family: Roboto;
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.03px;
	line-height: 19px;
	position: absolute;
	right: 1086px;
	left:392px;
	top: 178px;
}
#project .lorem-of{
	height: 168px;
	width: 555px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	position: absolute;
	right: 975px;
	left:390px;
	top: 222px;
}
#project .images-project img{
	position: absolute;
	right: 391.55px;
	left:1026.76px;
	top: 100px;
}
/*end project*/
/*footer*/
#footer{
height: 180px;
width: 1920px;
position: absolute;
border: 1px solid #ECEFF1;
background-color: #39474E;
box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}

#footer .hapo-ERP #hapoERP{
	height: 29px;
	width: 96px;
	color: #AED581;
	font-family: Enso;
	font-size: 24px;
	line-height: 29px;
	top: 45px;
	bottom: 105px;
	left: 389px;
	right: 1435px;
	position: absolute;
}
#footer .hapo-ERP #copyright-2017{
	height: 13px;
	width: 69px;
	color: #D0D8DC;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: -0.02px;
	line-height: 13px;
	position: absolute;
	top: 110px;
	bottom: 57px;
	right: 1435px;
	left: 389px;
}
#footer .get-in-touch #get-in-touch-two {
	height: 18px;
	width: 86px;
	color: #8BC34A;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.03px;
	line-height: 18px;
	position: absolute;
	top: 54px;
	left: 585px;
	bottom: 108px;
	right: 1249px;
}
#footer .get-in-touch #contact-us-contact-sale{
	height: 40px;
	width: 63px;
	color: #D0D8DC;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: -0.02px;
	line-height: 20px;
	position: absolute;
	top: 86px;
	bottom: 54px;
	left: 585px;
	right: 1272px;
}
#footer .how-to-works #how-to-work{
	height: 18px;
	width: 98px;
	color: #8BC34A;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.03px;
	line-height: 18px;
	position: absolute;
	top: 54px;
	bottom: 108px;
	left: 975px;
	right: 847px;
}
#footer .how-to-works #about-us-about-hapo-erp-two{
	height: 40px;
	width: 76px;
	color: #D0D8DC;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: -0.02px;
	line-height: 20px;
	position: absolute;
	top: 86px;
	bottom: 54px;
	right: 869px;
	left: 975px;
}
#footer .learn-more #learn-more-two{
	height: 18px;
	width: 81px;
	color: #8BC34A;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.03px;
	line-height: 18px;
	position: absolute;
	top: 54px;
	bottom: 108px;
	left: 780px;
	right: 1059px;
}
#footer .learn-more #about-us-about-hapo-erp{
	height: 40px;
	width: 76px;
	color: #D0D8DC;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: -0.02px;
	line-height: 20px;
	position: absolute;
	top: 86px;
	bottom: 54px;
	left: 780px;
	right: 1064px;
}
#footer .legal #legal{
	height: 18px;
	width: 39px;
	color: #8BC34A;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.03px;
	line-height: 18px;
	position: absolute;
	top: 54px;
	bottom: 108px;
	right: 711px;
	left: 1170px;
}
#footer  .legal #terms-of-service-pri{
	height: 40px;
	width: 76px;
	color: #D0D8DC;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: -0.02px;
	line-height: 20px;
	position: absolute;
	top: 86px;
	bottom: 54px;
	left: 1170px;
	right: 674px;
}

#footer .facebook{
	height: 13px;
	width: 13px;
	color: #8BC34A;
	font-family: themify;
	font-size: 13px;
	letter-spacing: -0.03px;
	line-height: 13px;
	position: absolute;
	top: 108px;
	left: 1365px;
	right: 542px;
	bottom: 59px;
}
#footer .twitter{
	height: 13px;
	width: 13px;
	color: #8BC34A;
	font-family: themify;
	font-size: 13px;
	letter-spacing: -0.03px;
	line-height: 13px;
	position: absolute;
	top: 108px;
	right: 491px;
	bottom: 59px;
	left: 1416px;
}
#footer .youtube{
	height: 13px;
	width: 13px;
	color: #8BC34A;
	font-family: themify;
	font-size: 13px;
	letter-spacing: -0.03px;
	line-height: 13px;
	position: absolute;
	top: 108px;
	bottom: 59px;
	right: 441px;
	left: 1466px;
}
#footer .linkedin{
	height: 13px;
	width: 13px;
	color: #8BC34A;
	font-family: themify;
	font-size: 13px;
	letter-spacing: -0.03px;
	line-height: 13px;
	position: absolute;
	top:108px;
	left: 1517px;
	right: 390px;
	bottom: 59px;
}












	











